.main{
    display:flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.column{
    display:flex;
    flex-direction: column;
    flex: 1, 1, 100px;
    }

.display{
    background-color: gray;
    width: 280px;
    height: 30px;
    text-align: right;
    padding: 9px;
    font-size: x-large;
    }

p{
    margin:0;
}

.bttns{
    display:flex;
    }

.number,
#dot,
.operator,
.operatorToggle,
#equal,
#back,
#clear,
#neg,
#sq{
    width: 75px;
    height: 50px;
}

.number, #neg {background-color: lightgray;}
#dot, #equal{background-color: green;}
.operator, #sq {background-color: darkorange;}
.operatorToggle {background-color: yellow}
#back, #clear{background-color: darkgray;}
body{background-color: #272424;}

